@using Vidly.Models
@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("New movie","New","Movies",null,new { @class="btn btn-primary"})

@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>
        @foreach(Movie movie in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(movie.Name, "Edit", "Movies", new {id = movie.Id}, null)
                </td>
                <td>
                    @movie.Genre.Name
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h2>We don't have any movies yet.</h2>
}




